body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar content ad"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr 200px;
    height: 100vh;
}

.textCenter{
    text-align: center;
}

.header {
    grid-area: header;
    background: #333;
    color: white;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background: #f4f4f4;
    padding: 1em;
}

.content {
    grid-area: content;
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.advertisement {
    grid-area: ad;
    background: #f4f4f4;
    text-align: center;
    padding: 1em;
}

.advertisement img {
    max-width: 100%;
    height: auto;
}

.ad-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
}

.game {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.choice {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
