body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.cell.is-off {
    background-color: black;
}
