/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    scroll-padding-top: 100px; /* Adjust this value to match the height of your fixed navbar */
    scroll-behavior: smooth; /* Adds smooth scrolling behavior */
}

/* Navigation bar styling */
.navbar {
    background-color: #d35400; /* Changed to a food-related color */
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensures it's above other content */
    transition: top 0.3s; /* Add smooth transition effect */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    background-color: #e67e22; /* Changed to a food-related color */
    border-radius: 5px;
}

/* Main content styling */
.content {
    padding: 60px 20px 20px; /* Adjust top padding to accommodate the fixed header and provide scroll padding */
    max-width: 1200px;
    margin: 0 auto;
}

/* Section styling */
.tab-content {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.tab-content:hover {
    transform: translateY(-10px);
}

/* Grid styling */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Product grid styling */
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product-item .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Footer styling */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-content {
    margin: 0 auto;
    max-width: 1200px;
}

/* Media queries for responsive design */
@media (max-width: 599px) {
    .navbar ul {
        flex-direction: column;
        text-align: center;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 600px) {
    .navbar ul {
        flex-direction: row;
    }
}
